@import url('https://fonts.googleapis.com/css?family=Roboto Slab:wght@200;300;400;500;600;700;900');
*{
    font-family: 'Roboto Slab';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: white;
}

html{
    background-color: #F7F7F7;
}

.navbar{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--accent, #204782);
    height: 5.938rem;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    transition: top 0.3s;
}

.navbar img{
    width: 21.25rem;
    height: 2.5rem;
    object-fit: contain;
}

.text{
    color: white;
    font-weight: 500;
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
    gap: 3.375vw;
    /* gap: 3.375rem; */
}

.text a:hover{
    text-decoration: underline;
}

.text a:active{
    color: white;
}

.text a:visited{
    color: white;
}

.hamburger{
    display: none;
}

.bar {
    display: block;
    border-radius: 0.1rem;
    width: 1.2rem;
    height: 2.7px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.desc{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--accent, #204782);
}

.footer-desc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: first baseline;
    justify-content: space-between;
    color: white;
    font-weight: 400;
    font-size: 0.7rem;
    gap: 1vw;
    width: 33vw;
    margin-top: 0.7rem;
}

.footer-desc span{
    font-weight: 700;
}

.before-copyright{
    display: flex;
    justify-content: space-between;
}

.copyright{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 0.5rem;
    margin-bottom: 2%;
    margin-top: 4%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--accent, #204782);
}

.directory{
    color: white;
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 2%;
    margin-right:10%;
    display: flex;
    flex-direction: column;
    gap: 1.7vh;
}

.directory a:hover{
    text-decoration: underline;
}

.directory a:active{
    color: white;
}

.directory a:visited{
    color: white;
}

.directory span{
    font-weight: 900;
    font-size: 1.1rem;
}

.landing-page{
    position: relative;
}

.landing-page img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(75%);
}

.landing-text{
    position: absolute;
    padding-left: 8%;
    width: 100%;
    top: 60%;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
}

.landing-text span{
    font-weight: 800;
    font-size: 4rem;
}

.landing-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background-color: #F7F7F7;
    pointer-events: none; /* This ensures that overlay won't interfere with any interactions */
    z-index: 1; /* To ensure it sits on top of the text and other content */
}

.steadfast-title .title-container{
    padding-right: 0%;
}

.steadfast-container{
    margin-right: 8%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.steadfast-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    gap: 1rem;
    width: 100%;
}

.steadfast-container .title-container{
    padding-left: 8%;
    padding-right: 2%;
}

.craftsman-container, .outstanding-container{
    margin-left: 8%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.craftsman-title, .outstanding-title, .steadfast-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    gap: 1rem;
    width: 100%; /* Ensure this container takes full width */
}

.title-container{
    background-color: #B7C2D4;
    padding-right: 8%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    white-space: nowrap;
}

.title-container p{
    font-weight: 700;
    font-size: 3.5rem;
}

.line{
    flex-grow: 1;
    margin-right: 1rem;
    height: 0.5rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--accent, #204782);
    border-radius: 2px;
}

.craftsmen-content{
    margin-right: 8%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.craftsman-top-content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.craftsman-top-content p{
    text-align: right;
    font-weight: 400;
    font-size: 1.2rem;
}

.craftsman-image{
    width: 48%;
}

.desc-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 2rem;
}

.desc-image img{
    width: 100%;
}

.craftsman-bottom-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 1rem; */
    margin-top: 0.5rem;
}

.steadfast-content{
    margin-left: 8%;
}

.vision, .mission, .qhse-policy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3.5rem;
}

.steadfast-text{
    font-weight: 400;
    font-size: 1.1rem;
}

.steadfast-text span{
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.steadfast-text p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.vision .steadfast-text{
    text-align: center;
}

.mission .steadfast-text p span {
    display: block; /* or inline-block */
    text-align: center;
}

.vision img, .mission img{
    width: 65vw;
}

.on-column{
    display: none;
}

#img1{
    width: 35%;
    height: 40vh;
}

#img2{
    width: 60%;
    height: 40vh;
}

footer{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--accent, #204782);
    /* height: 20vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 4%;
}

footer img{
    width: 27.5rem;
    height: 3.438rem;
    object-fit: contain;
}



@media only screen and (max-width: 980px) {
    .text {
        position: fixed;
        left: -100%;
        /* margin-top: 3.5rem; */
        top: 5rem;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--accent, #204782);;
        /* padding-top: 1rem; */
        padding-bottom: 1rem;
    }


    .text.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(7.8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-7.8px) rotate(-45deg);
    }

}

@media only screen and (max-width: 780px){
    .directory{
        display: none;
    }

    .landing-text{
        font-size: 1rem;
    }

    .landing-text span{
        font-size: 3rem;
    }

    .line{
        display: none;
    }

    .craftsman-container,.outstanding-container{
        /* margin-right: 8%; */
        align-items: center;
    }

    .steadfast-container{
        margin-left: 8%;
    }

    .craftsman-title, .outstanding-title{
        justify-content: center;
        margin-right: 8%;
        padding-right: 8%;
    }

    .steadfast-title{
        justify-content: center;
        margin-right: 8%;
    }

    .steadfast-container .title-container{
        padding-left: 2vw;
    }

    .title-container{
        padding-right: 2vw;
    }

    .title-container p{
        font-size: 2.3rem;
        white-space: normal;
        text-align: center;
    }

    .craftsman-image{
        width: 100%;
    }

    .craftsman-top-content{
        padding: 0;
        flex-direction: column;
    }

    .craftsman-top-content p{
        text-align: center;
        font-size: 1rem;
    }

    .craftsman-bottom-content{
        flex-direction: column;
        gap: 2rem;
    }

    /* pushes image to support visibility */

    #img1{
        width: 100%;
    }

    #img2{
        width: 100%;
    }

    .steadfast-content{
        margin-left: 0;
    }

    .vision, .mission, .qhse-policy{
        flex-direction: column;
    }

    .vision img, .mission img{
        width: 100%;
    }

    .mission p, .qhse-policy p{
        text-align: center;
    }

    .no-column{
        display: none;
    }

    .on-column{
        display: block;
    }
}

@media only screen and (max-width: 500px){
    .navbar img{
        width: 55vw;
        height: 7vh;
    }

    footer img{
        width: 70vw;
        height: 9vh;
    }

    .desc{
        font-size: 0.5rem;
    }

    .copyright{
        font-size: 0.3rem;
    }
}