@import url('https://fonts.googleapis.com/css?family=Roboto Slab:wght@200;300;400;500;600;700');
*{
    font-family: 'Roboto Slab';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--accent, #204782);
    height: 15vh;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.navbar img{
    width: 27vw;
    height: 4vw;
}

.text{
    color: white;
    font-weight: 500;
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
    gap: 3.375rem;
}

.text a:hover{
    text-decoration: underline;
}

.text a:visited{
    color: white;
}